

page-registro {

}

.fondoRegistro{
 // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  //filter: grayscale(100%);
  background-image: url("../../assets/imgs/modelo4bn.png");
  background-size: cover;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-cancel{
  //bottom: 0;
  //position: fixed;
  margin-top: 20%;
  width: 100%;
}

.icon-pass{
  font-size: 30px;
  margin-top: 30px;
  color: white;
}


.item-input2{
  opacity: 0.5;
  filter: alpha(opacity=50);
  border-radius: 15px;
  width: 90%;
  height: 40px;
  text-align: center;
  border:0px;
  background-color: #5758BB;
}
.estilo-letra2{
  color: white;
  font-size: 20px;
}
